@charset "ISO-8859-1";
*{
	padding: 0;
	margin: 0;
}
.navbar
{
	border: 1px solid #ccc;
}
.menu_btn
{
	width: max-content;
    display: flex;
    /* border-bottom: 1px solid #ccc; */
    margin: 0 auto;
		
}
.menu_btn button
{
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 12px;
	margin-right: 14px;
	font-size: 20px;
	font-weight: bold;
}
.menu_btn .fa
{
	margin-right: 20px;
}


 button:hover 
{
	color: #ff0000;	
}
button:hover svg,button:hover svg path{
	fill:red;
}
